.first {

	
	height: 900px;
	width: 100%;

	background-color: green;
	background: url('../src/images/avacode-img/hero.jpg') no-repeat center;
	background-size: cover;

	 .header {

	 	@include flexrow();

	 	 justify-content: space-between;

	 	width: 100%;
	 	height: 100px;

	 	.header__logo {

	 		width: 10%;
	 		height: 100%;
	 		float: left;

	 		margin-left: 100px;
	 		margin-top: 50px;

	 		.header__image {max-width: 109px;
	 						max-height: 18px;
	 					}
	 	
	 	}

	 	.header__menu {

	 		width: 70%;
	 		height: 100%;
	 		


	 		.navigation {

	 			width: 100%; 
	 			height: 100%;
	 			
	 			margin-top: 50px;
	 			margin-right: 0;
	 			padding: 0;


	 			&__item {

	 				display: inline-block;
	 				margin-right: 85px;

	 				color: $color-w;
					font-family: $font-L;
					font-size: 14px;
					font-weight: 500;
					line-height: 38px;
					text-transform: uppercase;


	 			}

	 			&__item:hover {

	 				color: yellow;
	 				cursor: pointer;

	 			}
	 		}



	 	}


	 }


	.first__content {

		width: 100%;
		height: 700px;
	

		.first__title  {


					margin-top: 200px;
					color: $color-w;
					font-family: $font-R;
					font-size: 48px;
					font-weight: 700;
					line-height: 60px;
					text-transform: uppercase;
					text-align: center;

		}

		.first__text {

			display: inline-block;
			width: 596px;
			height: 50px;
			margin-top: 15px;
			margin-left: 28%;

			color: #fffefe;
			font-family: $font-L;
			font-size: 22px;
			font-weight: 400;
			line-height: 30px;
			text-align: center;
		}




	}

	.first__footer {

		width: 100%;
		height: 100px;
		background-color: yellow;

		

		.first__arrow {


			width: 92px;
			height: 92px;

			margin-left: 50%;
			
			margin-bottom: 46px;
		}


	}


}