@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');


$font-L: 'Lato', sans-serif;
$font-R: 'Raleway', sans-serif;

$color-w: #ffffff;
$color-b: #222222;